.navbar-default .navbar-brand {
    font-size: 26px;
    color: #000 !important;
}

.navbar-header span.text-muted {
    color: #aeaeae;
    margin-left: 6px;
}

.container {
    max-width: 730px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    padding-top: 15px;
}

#content {
    margin-top: 70px;
}

.btn {
    margin-bottom: 14px;
}

pre {
    font-size: 15px;
}