{{ define "title" }}Anonymous Self-destructing Notes{{ end }}

{{ define "content" }}
<!-- Warning -->
<noscript>
    <div id="warn" class="alert alert-danger" role="alert">
        <strong>Warning!</strong> You must enable JavaScript because all encryption going inside web browser.
    </div>
</noscript>

<!-- Submit form -->
<div id="main" class="hidden">
    <form id="note" action="/note" method="post">
        <div class="form-group">
            <label for="note">Write your note below:</label>
            <textarea class="form-control" name="body" cols="80" rows="4"></textarea>
        </div>
        <div class="form-group text-center">
            <input type="submit" class="btn btn-lg btn-success" value="Create note" />
        </div>
    </form>
</div>

<!-- Secret link -->
<div id="done" class="hidden">
    <div class="form-group">
        <label for="secret_link">Your secret message available on the link:</label>
        <pre id="secret_link"></pre>
    </div>
    <div class="form-group text-center">
        <a href="." class="btn btn-lg btn-danger">Read and destroy</a>
        <a href="/" class="btn btn-lg btn-success">Create another note</a>
    </div>
</div>
{{ end }}
