{{ define "title" }}Anonymous self-destructing notes{{ end }}

{{ define "content" }}
<div class="form-group">
    <label for="secret_note">Here is your secret message:</label>
    <pre id="secret_note" class="hidden">{{.}}</pre>
    <p align='center'>The note on the server has already been destroyed
        <span class="glyphicon glyphicon-fire"></span>
    </p>
    <p align='center'>
        <em>You won't be able to access this data anymore!</em>
    </p>
</div>
<div class="form-group text-center">
    <a href="/" class="btn btn-lg btn-success">
        <span class="glyphicon glyphicon-record small"></span>
        Create another note
    </a>
</div>
{{ end }}