{{ define "title" }}Anonymous Self-destructing Notes{{ end }}

{{ define "content" }}
<div class="form-group">
    <label for="secret_note text-danger">
        This note will be permanently deleted after reading <span class="glyphicon glyphicon-fire text-danger"></span>:
    </label>
    <pre id="secret_note" class="hidden"></pre>
</div>
<div class="form-group text-center">
    <button class="btn btn-lg btn-danger" id="fetch-and-decrypt-button">
        <span class="glyphicon glyphicon-fire small"></span>
        Read and destroy
    </button>
</div>
{{ end }}
