{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Anonymous self-destructing notes">
    <meta name="author" content="">

    <title>Tornote - {{ template "title" . }}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/public/styles.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">tornote<span class="text-muted">| Anonymous self-destructing notes</span></a>
            </div>
        </div>
    </nav>

    <!-- Content -->
    <div id="content" class="container">
        {{ template "content" . }}
    </div>

    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <p class="text-muted" align="center">
                Tornote is open source software licensed under <a href="https://www.gnu.org/licenses/agpl-3.0.html">AGPLv3</a>
                Source code available on <a href="https://github.com/cig0/tornote">GitHub</a>
                <span class="glyphicon glyphicon-link small"></span>
            </p>
        </div>
    </footer>

    <script> // Local fallback for jQuery library served with CDN
        if (!window.jQuery) { document.write('<script src="/public/vendor/jquery/dist/jquery.slim.min.js"><\/script>'); }
    </script>
    <script src="/public/vendor/sjcl/sjcl.js"></script>
    <script src="/public/main.js"></script>
</body>
</html>
{{ end }}
