{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Anonymous self-destructing notes written in Go.">
    <meta name="author" content="">

    <title>Tornote - {{ template "title" . }}</title>

    <link rel="stylesheet" href="/public/vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/styles.css">
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">tornote<span class="text-muted">wbxbxwnbu.onion</span></a>
            </div>
        </div>
    </nav>

    <!-- Content -->
    <div id="content" class="container">
        {{ template "content" . }}
    </div>

    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <p class="text-muted">
                Tornote is open source software.
                Source code available on <a href="https://github.com/osminogin/tornote">GitHub</a>.
            </p>
        </div>
    </footer>

    <script src="/public/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/public/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://bitwiseshiftleft.github.io/sjcl/sjcl.js"></script>
    <script src="/public/main.js"></script>
</body>
</html>
{{ end }}